USE [bdSistema]
GO
/****** Object:  StoredProcedure [dbo].[CampusInsertar]    Script Date: 11/17/2021 2:55:32 PM ******/
DROP PROCEDURE [dbo].[CampusInsertar]
GO
/****** Object:  StoredProcedure [dbo].[AlumnosInsertar]    Script Date: 11/17/2021 2:55:32 PM ******/
DROP PROCEDURE [dbo].[AlumnosInsertar]
GO
/****** Object:  StoredProcedure [dbo].[AlumnosGetSelect]    Script Date: 11/17/2021 2:55:32 PM ******/
DROP PROCEDURE [dbo].[AlumnosGetSelect]
GO
/****** Object:  StoredProcedure [dbo].[AlumnosDesactivar]    Script Date: 11/17/2021 2:55:32 PM ******/
DROP PROCEDURE [dbo].[AlumnosDesactivar]
GO
/****** Object:  StoredProcedure [dbo].[AlumnosActualizar]    Script Date: 11/17/2021 2:55:32 PM ******/
DROP PROCEDURE [dbo].[AlumnosActualizar]
GO
/****** Object:  StoredProcedure [dbo].[AlumnosActiveGetSelect]    Script Date: 11/17/2021 2:55:32 PM ******/
DROP PROCEDURE [dbo].[AlumnosActiveGetSelect]
GO
ALTER TABLE [dbo].[Alumnos] DROP CONSTRAINT [FK_Alumnos_Campus]
GO
/****** Object:  Table [dbo].[Campus]    Script Date: 11/17/2021 2:55:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Campus]') AND type in (N'U'))
DROP TABLE [dbo].[Campus]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 11/17/2021 2:55:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Alumnos]') AND type in (N'U'))
DROP TABLE [dbo].[Alumnos]
GO
/****** Object:  User [magdiel]    Script Date: 11/17/2021 2:55:32 PM ******/
DROP USER [magdiel]
GO
USE [master]
GO
/****** Object:  Database [bdSistema]    Script Date: 11/17/2021 2:55:32 PM ******/
DROP DATABASE [bdSistema]
GO
/****** Object:  Database [bdSistema]    Script Date: 11/17/2021 2:55:32 PM ******/

CREATE DATABASE [bdSistema]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bdSistema', FILENAME = N'/var/opt/mssql/data/bdSistema.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bdSistema_log', FILENAME = N'/var/opt/mssql/data/bdSistema_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bdSistema].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bdSistema]
GO
/****** Object:  User [magdiel]    Script Date: 11/17/2021 2:55:32 PM ******/
CREATE USER [magdiel] FOR LOGIN [magdiel] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 11/17/2021 2:55:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumnos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[campusId] [int] NOT NULL,
	[fechaCreacion] [datetime] NOT NULL,
	[estatus] [bit] NOT NULL,
 CONSTRAINT [PK_Alumnos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campus]    Script Date: 11/17/2021 2:55:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Campus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alumnos] ON 

INSERT [dbo].[Alumnos] ([id], [nombre], [campusId], [fechaCreacion], [estatus]) VALUES (1, N'Magdiel', 1, CAST(N'2021-11-17T21:32:23.540' AS DateTime), 1)
INSERT [dbo].[Alumnos] ([id], [nombre], [campusId], [fechaCreacion], [estatus]) VALUES (2, N'Sergio', 3, CAST(N'2021-11-17T21:32:32.120' AS DateTime), 1)
INSERT [dbo].[Alumnos] ([id], [nombre], [campusId], [fechaCreacion], [estatus]) VALUES (3, N'Cesar', 2, CAST(N'2021-11-17T21:32:38.847' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Alumnos] OFF
GO
SET IDENTITY_INSERT [dbo].[Campus] ON 

INSERT [dbo].[Campus] ([id], [nombre]) VALUES (1, N'Universidad de Wisconsin')
INSERT [dbo].[Campus] ([id], [nombre]) VALUES (2, N'Colegio Swarthmore')
INSERT [dbo].[Campus] ([id], [nombre]) VALUES (3, N'Universidad Estatal de Appalachian')
SET IDENTITY_INSERT [dbo].[Campus] OFF
GO
ALTER TABLE [dbo].[Alumnos]  WITH CHECK ADD  CONSTRAINT [FK_Alumnos_Campus] FOREIGN KEY([campusId])
REFERENCES [dbo].[Campus] ([id])
GO
ALTER TABLE [dbo].[Alumnos] CHECK CONSTRAINT [FK_Alumnos_Campus]
GO
/****** Object:  StoredProcedure [dbo].[AlumnosActiveGetSelect]    Script Date: 11/17/2021 2:55:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[AlumnosActiveGetSelect]
As
Begin
	Select A.id 'Id', A.nombre 'Nombre', A.fechaCreacion 'Fecha', A.estatus 'Estatus', C.id 'Id Campus', C.nombre 'Nombre Campus'
	From Alumnos A
	Inner Join Campus C On A.campusId = C.id
	Where estatus = 1
End
GO
/****** Object:  StoredProcedure [dbo].[AlumnosActualizar]    Script Date: 11/17/2021 2:55:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[AlumnosActualizar]
@id int,
@nombre varchar(50),
@campusId int,
@estatus bit
As
Begin
	Update Alumnos
	Set nombre = @nombre,
		campusId = @campusId,
		fechaCreacion = getDate(),
		estatus = @estatus
	Where id = @id
End
GO
/****** Object:  StoredProcedure [dbo].[AlumnosDesactivar]    Script Date: 11/17/2021 2:55:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[AlumnosDesactivar]
@id int
As
Begin
	Update Alumnos
	Set estatus = 0
	Where id = @id
End
GO
/****** Object:  StoredProcedure [dbo].[AlumnosGetSelect]    Script Date: 11/17/2021 2:55:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[AlumnosGetSelect]
As
Begin
	Select A.id 'Id', A.nombre 'Nombre', A.fechaCreacion 'Fecha', A.estatus 'Estatus', C.id 'Id Campus', C.nombre 'Nombre Campus'
	From Alumnos A
	Inner Join Campus C On A.campusId = C.id
End
GO
/****** Object:  StoredProcedure [dbo].[AlumnosInsertar]    Script Date: 11/17/2021 2:55:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[AlumnosInsertar]
@nombre varchar(50),
@campusId int,
@estatus bit
As
Begin
	Insert Into Alumnos (nombre, campusId, fechaCreacion, estatus)
	Values (@nombre, @campusId, getDate(), @estatus)
End
GO
/****** Object:  StoredProcedure [dbo].[CampusInsertar]    Script Date: 11/17/2021 2:55:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[CampusInsertar]
@nombre varchar(50)
As
Begin
	Insert Into Campus (nombre)
	Values (@nombre)
End
GO
USE [master]
GO

--exec dbo.CampusInsertar 'UAdeO'
--exec dbo.AlumnosInsertar 'Armando', 2, 1
--exec dbo.AlumnosActualizar 1, 'Magdiel Moreno', 3, 1
--exec dbo.AlumnosDesactivar 1
--exec dbo.AlumnosActiveGetSelect
--exec dbo.AlumnosGetSelect